<div class="row">
  <div class="large-12 columns welcome-header">
    Welcome <b> <%= @user_email %></b>, below is the code snippet you need to copy into footer of the page you want to track.
    You can always get hold of this script from your MyProfile page.
  </div>
  <div class="large-11 small-11 columns welcome-code small-centered" id="code">
      <% @text = common_tracker(@apiToken) %>
      <%= raw markdown(@text)%>
  </div>
</div>

<div class="row row-gutter">
  <div class="large-5 small-11 columns small-centered">
    <a href="#" class="button" data-clipboard-target='code' id='copy' title="Copy">Copy</a>
    <a href="/dashboard" class="button" >Go To Dashboard</a>
  </div>
</div>

